@{
    Layout = "/Areas/Shop/Themes/M1/Views/Shared/_UserCenterLayout.cshtml";
}
<link href="/Areas/Shop/Themes/M1/Content/css/returnorder.css" rel="stylesheet" type="text/css" /> 
    <script type="text/javascript" src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/Scripts/jquery/maticsoft.img.min.js" type="text/javascript"></script>
 
 
    <ul class="crumb w980">
        <li class="crumb-hp"><a title="首页" href="/">首页</a></li>
        <li><a href="@(ViewBag.BasePath)UserCenter?s=s">我的商城</a> </li>
    </ul>
    <input type="hidden" id="currentpage" value="span_6" />
    <div class="col-main">
        <!-- 用户信息 E -->
       <div class="user_dingdantitle">退货</div>
        <div id="LoadOrderList">
            @Html.Action("OrderList","ReturnOrder")
        </div>
        <div class="kuang" >
					<div class="mt" ><h3 >退货申请常见问题</h3></div>
				    <div class="mc" >
						1. 若不显示"退货"按钮，可能是因为订单尚未完成; <br />
                        2. 若背景为灰色，可能是因为该订单正在退货中或已申请过退货;<br />
                        3. 三方商品暂不支持退货，是因为您购买的是三方的商品，暂时不支持退货;
					</div>
				    </div> 
    </div>

    