@{
    ViewBag.Title = "修改密码";
    Layout = "~/Areas/MSNS/Themes/VSNS/Views/Shared/_BaseLayout.cshtml";
}
@model Maticsoft.Web.Models.ChangePasswordModel
<script type="text/javascript" src="/Areas/MSNS/Themes/VSNS/Content/Scripts/updatepassword.js"></script>
<div class="warp">
    <div class="container">
        <p>
            <label class="qq_label changePage" style="margin-left: 16px;">
                原密码：</label>
            <input id="txtPwd" type="password" class="chageInput logininput text_input" placeholder="原密码" maxlength="20" />
        </p>
        <p>
            <label class="qq_label changePage" style="margin-left: 16px;">
                新密码：</label>
            <input id="txtNewPwd" type="password" class="chageInput logininput text_input" placeholder="新密码" maxlength="20" />
        </p>
        <p style="margin-bottom: 20px;">
            <label class="pwd_label changePage">
                确认密码：</label>
            <input  id="txtConfirmPwd2" type="password" class="chageInput logininput text_input" placeholder="确认密码" maxlength="20" />
        </p>
        <a href="javascript:void(0);" title="保存" onclick="submit();" style="margin-left: 30%;">
            <img src="/Areas/MSNS/Themes/VSNS/Content/images/mat_2.jpg" /></a>
    </div>
</div>

