@{
    Layout = "~/Areas/Shop/Themes/M1/Views/Shared/_UserCenterLayOut.cshtml";
}
<script src="/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
<input type="hidden" id="currentpage" value="span_10"/>
<ul class="crumb w980">
    <li class="crumb-hp"><a title="首页" href="/">首页</a></li>
   <li><a href="@(ViewBag.BasePath)UserCenter?s=s">我的商城</a> </li>
</ul>
<div class="col-main">  
  <div class="user_dingdantitle">我的收件箱</div>   
    <div   id="InBoxList">
        @Html.Action("InboxList","UserCenter")
    </div>   
</div>  

