@{
    Layout = "~/Areas/MSNS/Themes/VSNS/Views/Shared/_BaseLayout.cshtml";
}
@using Webdiyer.WebControls.Mvc
@model PagedList<Maticsoft.Model.SNS.GroupTopicReply>
<script src="/Areas/MSNS/Themes/VSNS/Content/Scripts/MyMsgReply.js" type="text/javascript"></script>           
<div class="warp" >
        @{ Html.RenderPartial("_ReList",Model);}
</div>
