
@*<li><a href="@(ViewBag.BasePath)Account/Login">[登录]</a></li><li><a href="@(ViewBag.BasePath)Account/Register">[免费注册]</a></li>*@
<li><a href="http://123.57.153.47/Member?op=login&from=shop">[登录]</a></li><li>