<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
    <section name="rewriter" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
  </configSections>
  <rewriter configSource="UrlRewriter.config"/>
  <dataConfiguration defaultDatabase="MaticsoftSqlServer"/>
  <connectionStrings>
    <add name="MaticsoftSqlServer" connectionString="server=123.57.153.47;uid=sa;pwd=761113;database=DrShop"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ConStringEncrypt" value="false" />
    <add key="ConnectionString" value="server=(local);uid=sa;pwd=761113;database=DrShop" />
    <add key="DAL" value="Maticsoft.SQLServerDAL" />
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="RouteDebugger:Enabled" value="false" />
    <add key="LocalTest" value="false" />
    <add key="RechargeTest" value="false" />
    <add key="PaymentTest" value="false" />
    <add key="UploadFolder" value="Upload" />
    <add key="ffmpeg" value="/Tools/ffmpeg/ffmpeg.exe" />
    <add key="FilePath_Android" value="/Download/MaticsoftShop.apk" />
    <add key="CacheTime" value="30" />
    <add key="Installer" value="True" />
    <add key="API_Security" value="false" />
    <add key="API_TimeInterval" value="20" />
    <add key="API_Key" value="" />
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off">
      <error statusCode="404" redirect="~/404.aspx"/>
    </customErrors>
    <!--IIS6 使用, 但不支持部分虚拟主机 等待解决方案 -->
    <identity impersonate="true"/>
    <authentication mode="Forms">
      <!--<forms loginUrl="~/Account/Login" timeout="2880"/>-->
	<forms loginUrl="http://123.57.153.47/Member?op=login" timeout="2880"/>
      <!--<forms name="forums" path="/" loginUrl="~/admin/Login.aspx" protection="All" timeout="40" />-->
    </authentication>
    <!--<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424"
                      sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes"
                      cookieless="true" timeout="60" />-->
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
      <controls>
        <add tagPrefix="Maticsoft" tagName="ImageTransitionEffects" src="~/Controls/ImageTransitionEffects.ascx"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="GiftImgUpload.aspx" type="Maticsoft.Web.Ajax_Handle.GiftImageUploadHandler, Maticsoft.Web"/>
      <add verb="*" path="EditPhotoHandle.aspx" type="Maticsoft.Web.Ajax_Handle.EditPhotoHandle, Maticsoft.Web"/>
      <add verb="*" path="CMSContent.aspx" type="Maticsoft.Web.Ajax_Handle.CMSContentHandle"/>
      <add verb="*" path="RegisterValidate.aspx" type="Maticsoft.Web.AjaxHandle.RegisterValidateHandler"/>
      <add verb="*" path="CheckNetworkVideo.aspx" type="Maticsoft.Web.Ajax_Handle.CheckNetworkVideoHandler"/>
      <add verb="*" path="NodeHandle.aspx" type="Maticsoft.Web.AjaxHandle.NodeHandle"/>
      <add verb="*" path="NodeProdCategory.aspx" type="Maticsoft.Web.Ajax_Handle.NodeProdCategory"/>
      <add verb="*" path="MapHandle.aspx" type="Maticsoft.Web.AjaxHandle.MapHandle"/>
      <add verb="*" path="MapMarkImgHandle.aspx" type="Maticsoft.Web.AjaxHandle.MapMarkImgHandle"/>
      <add verb="*" path="UploadImageDemo.aspx" type="Maticsoft.Web.AjaxHandle.UploadImageDemo"/>
      <!-- 2012年10月16日 13:51:48 Rock Handle文件夹移动测试 测试成功之后 移除对应上面内容，保留下面的-->
      <add verb="*" path="ProductUploadImg.aspx" type="Maticsoft.Web.Handlers.Shop.ProductUploadImgHandler, Maticsoft.Web"/>
      <add verb="*" path="UploadNormalImg.aspx" type="Maticsoft.Web.Handlers.UploadNormalImgHandler, Maticsoft.Web"/>
      <add verb="*" path="CMSUploadImg.aspx" type="Maticsoft.Web.Handlers.CMS.UploadArticleImgHandler, Maticsoft.Web"/>
      <add verb="*" path="CMSUploadFile.aspx" type="Maticsoft.Web.Handlers.CMS.UploadFileHandler, Maticsoft.Web"/>
    
      <add verb="*" path="UploadPhotoHandler.aspx" type="Maticsoft.Web.Handlers.CMS.UploadPhotoHandler, Maticsoft.Web"/>
      <add verb="*" path="UploadWeiboImg.aspx" type="Maticsoft.Web.Handlers.UploadWeiboImgHandler, Maticsoft.Web"/>
      <!-- 上传SKU图片-->
      <add verb="*" path="ProductSkuImg.aspx" type="Maticsoft.Web.Handlers.Shop.ProductSkuImgHandler, Maticsoft.Web"/>
      <add verb="*" path="RegionHandle.aspx" type="Maticsoft.Web.Handlers.RegionHandle"/>
      <add verb="*" path="SNSProduct.aspx" type="Maticsoft.Web.Handlers.SNS.ProductHandler, Maticsoft.Web"/>
      <add verb="*" path="SNSPhotos.aspx" type="Maticsoft.Web.Handlers.SNS.PhotosHandler, Maticsoft.Web"/>
      <add verb="*" path="SNSPGroupUser.aspx" type="Maticsoft.Web.Handlers.SNS.GroupUserHandler, Maticsoft.Web"/>
      <add verb="*" path="ShopManage.aspx" type="Maticsoft.Web.Handlers.Shop.ShopHandler"/>
      <add verb="*" path="UploadGravatar.aspx" type="Maticsoft.Web.Handlers.UploadGravatarHandler, Maticsoft.Web"/>
      <add verb="*" path="WebLogo.aspx" type="Maticsoft.Web.Handlers.UploadLogoHandler, Maticsoft.Web"/>
      <add verb="*" path="SNSCategories.aspx" type="Maticsoft.Web.Handlers.SNS.CategoriesHandler"/>
      <!-- 淘宝客-->
      <!-- 静态化-->
      <add verb="*" path="HttpToStatic.aspx" type="Maticsoft.Web.Handlers.CMS.HttpToStaticHandler"/>
      <!-- SNS缩略图重新生成-->
      <add verb="*" path="ImageReGenHandler.aspx" type="Maticsoft.Web.Handlers.ImageReGenHandler"/>
      <!-- CMS缩略图重新生成-->
      <add verb="*" path="PhotoReGenHandler.aspx" type="Maticsoft.Web.Handlers.CMS.PhotoReGenHandler"/>
      <!-- SNS静态生成-->
      <add verb="*" path="SNSToStaticHandler.aspx" type="Maticsoft.Web.Handlers.SNS.SNSToStaticHandler"/>
      <!--商品静态化-->
      <add verb="*" path="HttpToProStatic.aspx" type="Maticsoft.Web.Handlers.Shop.HttpToStaticHandler"/>
      <add verb="*" path="/Upload/SNSUploadTmpImg.aspx" type="Maticsoft.Web.Handlers.SNS.UploadImageHandler"/>
      <add verb="*" path="/Upload/UploadApproveImage.aspx" type="Maticsoft.Web.Handlers.SNS.UploadApproveImageHandler"/>
      <add verb="*" path="/ProductHandler.aspx" type="Maticsoft.Web.Handlers.Shop.ProductHandler"/>
      <add verb="*" path="/Pay/OrderHandler.aspx" type="Maticsoft.Web.Handlers.Shop.OrderHandler"/>
      <add verb="*" path="/pay/sendpayment.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.SendPaymentHandler"/>
      <add verb="*" path="/pay/payment/return_url.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.PaymentReturnHandler"/>
      <add verb="*" path="/pay/payment/notify_url.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.PaymentNotifyHandler"/>
      <add verb="*" path="/Pay/RechargeHandler.aspx" type="Maticsoft.Web.Handlers.Shop.RechargeHandler"/>
      <add verb="*" path="/pay/sendrecharge.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.SendRechargeHandler"/>
      <add verb="*" path="/pay/recharge/return_url.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.RechargeReturnHandler"/>
      <add verb="*" path="/pay/recharge/notify_url.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.RechargeNotifyHandler"/>
      <add verb="*" path="/pay/cod.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.CodHandler"/>
      <add verb="*" path="/pay/balance.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.BalanceHandler"/>

      <add verb="*" path="/pay/wechat.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.WeChat.SendPaymentHandler"/>
      <add verb="*" path="/wechat/feedback.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.WeChat.FeedBackHandler"/>
      <add verb="*" path="/wechat/alarmnotice.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.WeChat.AlarmNoticeHandler"/>

      <add verb="*" path="UploadVideoHandler.aspx" type="Maticsoft.Web.Handlers.CMS.UploadVideoHandler"/>
      <add verb="*" path="/tools/qr/gen.aspx" type="Maticsoft.Web.Handlers.Tools.QRHandler"/>
      <add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax"/>
      <!--多文件上传-->
      <add verb="*" path="UploadMultipleFileHandler.aspx" type="Maticsoft.Web.Handlers.UploadMultipleFileHandler"/>
      <!--商家上传logo-->
      <add verb="*" path="SupplierUploadLogo.aspx" type="Maticsoft.Web.Handlers.Shop.SupplierUploadLogoHandler, Maticsoft.Web"/>
      <!--微信API-->
      <add verb="*" path="wcapi.aspx" type="Maticsoft.Web.Handlers.WeChatAPIHandler,Maticsoft.Web"/>
      <add verb="*" path="wcreturn.aspx" type="Maticsoft.Web.Handlers.WeChatReturnHandler,Maticsoft.Web"/>
      <!--微信部分上传图片-->
      <add verb="*" path="WeChatImg.aspx" type="Maticsoft.Web.Handlers.UploadWeChatImgHandler,Maticsoft.Web"/>
      <add verb="*" path="WeChatFile.aspx" type="Maticsoft.Web.Handlers.UploadWeChatFileHandler,Maticsoft.Web"/>
      <!-- 商品二维码重新生成-->
      <add verb="*" path="CodeGenHandler.aspx" type="Maticsoft.Web.Handlers.CodeGenHandler"/>
      <!-- 订单一维码生成-->
      <add verb="*" path="BarCodeHandler.aspx" type="Maticsoft.Web.Handlers.Tools.BarCodeHandler"/>
      <!-- 商城API-->
      <add verb="*" path="/api/v1/shop.aspx" type="Maticsoft.API.Shop.v1.ShopHandler"/>
      <!-- 用户信息-->
      <add verb="*" path="/UserInfo.aspx" type="Maticsoft.Web.Handlers.UserInfoHandler"/>
    </httpHandlers>
    <httpModules>
      <add name="TimerTask" type="Maticsoft.TimerTask.TaskHttpModule"/>
      <add name="EmailJob" type="Maticsoft.Email.EmailJob.EmailJobSevice"/>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"/>
    </httpModules>
    <httpRuntime requestValidationMode="2.0" executionTimeout="90" maxRequestLength="2147483" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN" uiCulture="zh-CN"/>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="Index" duration="1000" enabled="true" location="ServerAndClient" varyByParam="none"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="TimerTask" type="Maticsoft.TimerTask.TaskHttpModule"/>
      <add name="EmailJob" type="Maticsoft.Email.EmailJob.EmailJobSevice"/>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="GiftImgUpload" verb="*" path="GiftImgUpload.aspx" type="Maticsoft.Web.Ajax_Handle.GiftImageUploadHandler, Maticsoft.Web"/>
      <add name="SNSCategories" verb="*" path="SNSCategories.aspx" type="Maticsoft.Web.Handlers.SNS.CategoriesHandler" allowPathInfo="true"/>
      <add name="EditPhotoHandle" verb="*" path="EditPhotoHandle.aspx" type="Maticsoft.Web.Ajax_Handle.EditPhotoHandle, Maticsoft.Web"/>
      <add name="CMSContent" verb="*" path="CMSContent.aspx" type="Maticsoft.Web.Ajax_Handle.CMSContentHandle"/>
      <add name="RegisterValidate" verb="*" path="RegisterValidate.aspx" type="Maticsoft.Web.AjaxHandle.RegisterValidateHandler"/>
      <add name="CheckNetworkVideo" verb="*" path="CheckNetworkVideo.aspx" type="Maticsoft.Web.Ajax_Handle.CheckNetworkVideoHandler"/>
      <add name="NodeHandle" verb="*" path="NodeHandle.aspx" type="Maticsoft.Web.AjaxHandle.NodeHandle"/>
      <add name="NodeProdCategory" verb="*" path="NodeProdCategory.aspx" type="Maticsoft.Web.Ajax_Handle.NodeProdCategory"/>
      <add name="MapHandle" verb="*" path="MapHandle.aspx" type="Maticsoft.Web.AjaxHandle.MapHandle"/>
      <add name="MapMarkImgHandle" verb="*" path="MapMarkImgHandle.aspx" type="Maticsoft.Web.AjaxHandle.MapMarkImgHandle"/>
      <add name="PageHandlerFactory" verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax"/>
      <add name="UploadImageDemo" verb="*" path="UploadImageDemo.aspx" type="Maticsoft.Web.AjaxHandle.UploadImageDemo"/>
      <!-- 2012年10月16日 13:51:48 Rock Handle文件夹移动测试 测试成功之后 移除对应上面内容，保留下面的   -->
      <add name="ProductUploadImg" verb="*" path="ProductUploadImg.aspx" type="Maticsoft.Web.Handlers.Shop.ProductUploadImgHandler, Maticsoft.Web"/>
      <add name="UploadNormalImg" verb="*" path="UploadNormalImg.aspx" type="Maticsoft.Web.Handlers.UploadNormalImgHandler, Maticsoft.Web"/>
      <add name="CMSUploadImg" verb="*" path="CMSUploadImg.aspx" type="Maticsoft.Web.Handlers.CMS.UploadArticleImgHandler, Maticsoft.Web"/>
      <add name="CMSUploadFile" verb="*" path="CMSUploadFile.aspx" type="Maticsoft.Web.Handlers.CMS.UploadFileHandler, Maticsoft.Web"/>
     
      <add name="UploadPhotoHandler" verb="*" path="UploadPhotoHandler.aspx" type="Maticsoft.Web.Handlers.CMS.UploadPhotoHandler, Maticsoft.Web"/>
      <add name="UploadWeiboImg" verb="*" path="UploadWeiboImg.aspx" type="Maticsoft.Web.Handlers.UploadWeiboImgHandler, Maticsoft.Web"/>
      <add name="RegionHandle" verb="*" path="RegionHandle.aspx" type="Maticsoft.Web.Handlers.RegionHandle"/>
      <add name="SNSProduct" verb="*" path="SNSProduct.aspx" type="Maticsoft.Web.Handlers.SNS.ProductHandler" allowPathInfo="true"/>
      <add name="SNSPhotos" verb="*" path="SNSPhotos.aspx" type="Maticsoft.Web.Handlers.SNS.PhotosHandler" allowPathInfo="true"/>
      <add name="SNSPGroupUser" verb="*" path="SNSPGroupUser.aspx" type="Maticsoft.Web.Handlers.SNS.GroupUserHandler, Maticsoft.Web"/>
      <add name="SNSUploadTmpImg" verb="*" path="/Upload/SNSUploadTmpImg.aspx" type="Maticsoft.Web.Handlers.SNS.UploadImageHandler"/>
      <add name="UploadApproveImage" verb="*" path="/Upload/UploadApproveImage.aspx" type="Maticsoft.Web.Handlers.SNS.UploadApproveImageHandler"/>
      <add name="UploadGravatar" verb="*" path="/Upload/UploadGravatar.aspx" type="Maticsoft.Web.Handlers.UploadGravatarHandler, Maticsoft.Web"/>
      <add name="ShopManage" verb="*" path="ShopManage.aspx" type="Maticsoft.Web.Handlers.Shop.ShopHandler" allowPathInfo="true"/>
      <add name="ProductSkuImg" verb="*" path="ProductSkuImg.aspx" type="Maticsoft.Web.Handlers.Shop.ProductSkuImgHandler, Maticsoft.Web"/>
      <add name="WebLogo" verb="*" path="WebLogo.aspx" type="Maticsoft.Web.Handlers.UploadLogoHandler"/>
      <!-- 静态化-->
      <add name="HttpToStatic" verb="*" path="HttpToStatic.aspx" type="Maticsoft.Web.Handlers.CMS.HttpToStaticHandler, Maticsoft.Web"/>
      <!-- SNS缩略图重新生成-->
      <add name="ImageReGenHandler" verb="*" path="ImageReGenHandler.aspx" type="Maticsoft.Web.Handlers.ImageReGenHandler, Maticsoft.Web"/>
      <!--CMS缩略图重新生成-->
      <add name="PhotoReGenHandler" verb="*" path="PhotoReGenHandler.aspx" type="Maticsoft.Web.Handlers.CMS.PhotoReGenHandler, Maticsoft.Web"/>
      <!--SNS静态生成-->
      <add name="SNSToStaticHandler" verb="*" path="SNSToStaticHandler.aspx" type="Maticsoft.Web.Handlers.SNS.SNSToStaticHandler, Maticsoft.Web"/>
      <!-- Shop - Order -->
      <add name="OrderHandler" verb="*" path="/Pay/OrderHandler.aspx" type="Maticsoft.Web.Handlers.Shop.OrderHandler"/>
       <!-- Shop - Product -->
      <add name="ProductHandler" verb="*" path="/ProductHandler.aspx" type="Maticsoft.Web.Handlers.Shop.ProductHandler"/>
      <!-- 商品静态化-->
      <add name="HttpToProStatic" verb="*" path="HttpToProStatic.aspx" type="Maticsoft.Web.Handlers.Shop.HttpToStaticHandler, Maticsoft.Web"/>
      <add name="SendPayment" verb="*" path="/pay/sendpayment.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.SendPaymentHandler"/>
      <add name="PaymentReturn" verb="*" path="/pay/payment/return_url.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.PaymentReturnHandler"/>
      <add name="PaymentNotify" verb="*" path="/pay/payment/notify_url.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.PaymentNotifyHandler"/>
      <add name="RechargeHandler" verb="*" path="/Pay/RechargeHandler.aspx" type="Maticsoft.Web.Handlers.Shop.RechargeHandler"/>
      <add name="SendRecharge" verb="*" path="/pay/sendrecharge.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.SendRechargeHandler"/>
      <add name="RechargeReturn" verb="*" path="/pay/recharge/return_url.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.RechargeReturnHandler"/>
      <add name="RechargeNotify" verb="*" path="/pay/recharge/notify_url.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.RechargeNotifyHandler"/>
      <add name="CodHandler" verb="*" path="/pay/cod.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.CodHandler"/>
      <add name="BalanceHandler" verb="*" path="/pay/balance.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.BalanceHandler"/>

      <add name="WeChatSendPaymentHandler" verb="*" path="/pay/wechat.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.WeChat.SendPaymentHandler"/>
      <add name="WeChatFeedBackHandler" verb="*" path="/wechat/feedback.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.WeChat.FeedBackHandler"/>
      <add name="WeChatAlarmNoticeHandler" verb="*" path="/wechat/alarmnotice.aspx" type="Maticsoft.Web.Handlers.Shop.Pay.WeChat.AlarmNoticeHandler"/>

      <add name="Tools_QR" verb="*" path="/tools/qr/gen.aspx" type="Maticsoft.Web.Handlers.Tools.QRHandler"/>
      <add name="UploadVideoHandler" verb="*" path="UploadVideoHandler.aspx" type="Maticsoft.Web.Handlers.CMS.UploadVideoHandler, Maticsoft.Web"/>
      <!--多文件上传-->
      <add name="UploadMultipleFileHandler" verb="*" path="UploadMultipleFileHandler.aspx" type="Maticsoft.Web.Handlers.UploadMultipleFileHandler,Maticsoft.Web"/>
      <!--商家上传logo-->
      <add name="SupplierUploadLogo" verb="*" path="SupplierUploadLogo.aspx" type="Maticsoft.Web.Handlers.Shop.SupplierUploadLogoHandler, Maticsoft.Web"/>
      <!--微信API-->
      <add name="wcapi" verb="*" path="wcapi.aspx" type="Maticsoft.Web.Handlers.WeChatAPIHandler,Maticsoft.Web"/>
      <add name="wcreturn" verb="*" path="wcreturn.aspx" type="Maticsoft.Web.Handlers.WeChatReturnHandler,Maticsoft.Web"/>
      <!--微信部分上传图片-->
      <add name="WeChatImg" verb="*" path="WeChatImg.aspx" type="Maticsoft.Web.Handlers.UploadWeChatImgHandler,Maticsoft.Web"/>
      <add name="WeChatFile" verb="*" path="WeChatFile.aspx" type="Maticsoft.Web.Handlers.UploadWeChatFileHandler,Maticsoft.Web"/>

      <!-- 商品二维码重新生成-->
      <add name="CodeGenHandler" verb="*" path="CodeGenHandler.aspx" type="Maticsoft.Web.Handlers.CodeGenHandler, Maticsoft.Web"/>
      <!-- 订单一维码-->
      <add name="BarCodeHandler" verb="*" path="BarCodeHandler.aspx" type="Maticsoft.Web.Handlers.Tools.BarCodeHandler, Maticsoft.Web"/>
      <add name="ShopHandlerV1" verb="*" path="/api/v1/shop.aspx" type="Maticsoft.API.Shop.v1.ShopHandler"/>
      <!-- 用户信息-->
      <add name="UserInfoHandler" verb="*" path="/UserInfo.aspx" type="Maticsoft.Web.Handlers.UserInfoHandler, Maticsoft.Web"/>
    </handlers>
    <staticContent>
      <!-- 静态内容缓存一周 BEN ADD 2012-10-29 -->
      <clientCache cacheControlMaxAge="168.00:00:00" cacheControlMode="UseMaxAge"/>
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SDKServiceBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://sdkhttp.eucp.b2m.cn/sdk/SDKService?wsdl"
        binding="basicHttpBinding" bindingConfiguration="SDKServiceBinding"
        contract="SMSService.SDKClient" name="SDKService" />
    </client>
  </system.serviceModel>
</configuration>