@model  Maticsoft.ViewModel.Shop.ActivityModel 
 @if (Model != null)
 {    
 
        <div   class="margin_left_15">
 
    <div class="margin_bottom_5">促销活动</div>
 
   
     @if (Model.First != null && Model.First.Count > 0)
     {
       foreach (Maticsoft.Model.Shop.Activity.ActivityInfo item in Model.First)
       {
                @Html.Partial("_ActivityListSub", item)
       }
     }
        @if (Model.Full != null && Model.Full.Count > 0)
        {
       foreach (Maticsoft.Model.Shop.Activity.ActivityInfo item in Model.Full)
        {
            @Html.Partial("_ActivityListSub", item)
        }
        }
      
   
      @if (Model.Coupon != null && Model.Coupon.Count > 0)
      {
           foreach (Maticsoft.Model.Shop.Activity.ActivityInfo item in Model.Coupon)
            {
             @Html.Partial("_ActivityListSub", item)
            }
      }
      
        @if (Model.FreeShipping != null && Model.FreeShipping.Count > 0)
        {
        foreach (Maticsoft.Model.Shop.Activity.ActivityInfo item in Model.FreeShipping)
         {
             @Html.Partial("_ActivityListSub", item)
         }
        }
</div>
 }