<div class="header-btn fr">
    <a href="@(ViewBag.BasePath)p/c" style="margin:8px 2px 8px 0;padding-top:8px;height:22px">
         <img width="22" height="21" src="/Areas/MShop/Themes/M1/Content/images/sort.png"> 
    </a> 
    <a href="@(ViewBag.BasePath)u" style="margin:8px 8px 8px 0;padding-top:5px;height:25px">
        <img width="22" height="21" src="/Areas/MShop/Themes/M1/Content/images/avatar.png">
    </a>
    <a href="@(ViewBag.BasePath)sc/ci" style="margin:8px 8px 8px 0;padding-top:5px;height:25px">
        <img src="/Areas/MShop/Themes/M1/Content/images/cart.png" width="22" height="21" > 
    </a>
    <a href="@ViewBag.BasePath" style="margin:8px 8px 8px 0;padding-top:5px;height:25px">
         <img src="/Areas/MShop/Themes/M1/Content/images/home.png" width="20" height="18" > 
    </a> 
</div>
